:root {
    --option-unselected-color: #f1f6ff;
    --option-selected-color: #2196f3;
    --table-header-color: #2196f3;
    --table-green-color: #4caf50;
    --table-yellow-color: #ffeb3b;
    --table-red-color: #f44336;
}
body { position:relative; margin: 0 auto; padding: 0 1rem 1rem; max-width: 1024px; font-family: sans-serif; }
@media (min-width: 1024px) {
    #app {display: grid; grid-template-areas:   "header header"
                        "decisionPoints table"
                        "result result"
                        "footer footer";
        grid-template-columns:    20rem auto;
    }
    header { grid-area: header; }
    .decisionPoints { grid-area: decisionPoints; }
    .table { grid-area: table; }
    .result { grid-area: result; }
    footer { grid-area: footer; }
}

.languageSwitcher {position:absolute; right:0; }
.languageSwitcher .flag { width:1.5rem; height: 1.5rem; margin-left:0.5rem; vertical-align:middle; }

.decisionPoints { padding: 1rem 0; display: flex; flex-wrap: wrap;}
.decisionPoint { padding-bottom: 1rem; width:100%; }
@media (min-width: 672px) {
    .decisionPoint { min-width: 20rem; width:50%; }
}
.question { padding-bottom: 0.5rem; font-weight:bold; }
.option:before { content: '→ '; }
.option { margin: 0 1em; padding: 0.2rem; background-color: var(--option-unselected-color); cursor: pointer; }
.option.on {background-color: var(--option-selected-color); }

.result { padding: 1rem 0; }
.result .question { padding: 1rem 0; }
.result .answer { background-color: var(--table-header-color); padding: 1rem; }
.result .answer.low { background-color: var(--table-green-color); }
.result .answer.medium { background-color: var(--table-yellow-color); }
.result .answer.high { background-color: var(--table-red-color); }

table { font-size:0.7rem; padding: 1rem 0; table-layout: fixed;}
@media (min-width: 600px) {
    table { font-size:1rem; }
}
th { font-weight: normal; padding: 0.2rem; }
td { padding: 0.2rem; }
tr { height: 2rem; }
table col:nth-child(1) { width: 9rem; }
table col:nth-child(2) { width: 8rem; }
table col:nth-child(3) { width: 8rem; }
table col:nth-child(4) { width: 8rem; }
table col:nth-child(5) { width: 1rem; }
table col:nth-child(6) { width: 8rem; }
table col:nth-child(7) { width: 8rem; }
table col:nth-child(8) { width: 8rem; }
table th { background-color: var(--table-header-color); }
table td.green { background-color: var(--table-green-color); }
table td.yellow { background-color: var(--table-yellow-color); }
table td.red { background-color: var(--table-red-color); }
table tr.heading th { text-align: left; }
table th.rowHeader { text-align: left; }
table td.off { filter: opacity(30%); }

footer { padding: 1rem 0; font-size: smaller; }
.donateButtonContainer { padding: 0.5rem 0; }